
/* Root Variables*/
:root {
    --white-color: #FFFFFF;
    --quote-color: #25282A;
    --author-color: #EE2737;
    --quotebox-color: #FBEAE3;
    --quotebox-color-complement: #E3F4FB;
    --page-bg-color: #F5FFF8;
}
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: var(--page-bg-color); */
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    color: var(--author-color);
    padding: 5px;
    margin-bottom: 10px;
}

.quote-box {
    background-color: var(--quotebox-color);
    background-image: linear-gradient(135deg, var(--quotebox-color),var(--quotebox-color-complement));
    height: 450px;
    width: 350px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;

    align-items: center;
    justify-content: center;

    /* border: 1px solid var(--quote-color); */
    border-radius: 10px;
}

.text {
    font-family: "Esteban", serif;
    font-style: normal;
    font-size: 15px;
    text-align: justify;
    grid-column: 1 / 4;
    grid-row: 1 / 5;

    padding: 10px;
}

.author, #quote-btn {
    font-family: "Montserrat", sans-serif;
}

.author {
    font-size: 16px;
    font-weight: 900;
    color: var(--author-color);
    text-transform: uppercase;
    text-align: center;

    grid-column: 2 / 3;
    grid-row: 5 / 7;

    padding: 10px;
}

#quote-btn {
    grid-column: 2 / 3;
    grid-row: 7 / 8;

    height: 40px;
    width: 120px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--quote-color);
    color: var(--white-color);
    padding: 10px;
    cursor: pointer;
}

#quote-btn:hover {
    background-color: var(--author-color);
}
