
/* Root Variables*/
:root {
    --white-color: #FFFFFF;
    --quote-color: #25282A;
    --author-color: #EE2737;
    --quotebox-color: #FFF5FC;
    --page-bg-color: #F5FFF8;
}
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--page-bg-color);
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote-box {
    background-color: var(--quotebox-color);
}